.Main{
    float: right;
    box-shadow: 1px 2px 6px 0px black;
    position: fixed;
    margin-right: 130px;
    background-color: rgb(255, 255, 255);
}
.Img{
    border-radius: 30px;
    width: 40px;
    float: left;
    cursor: pointer;
}
.ItemOne{
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 800;
    padding: 20px 20px;
    /* float: left; */
    width: 200px;
    border-bottom: 1px solid;
}
.Item{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    width: 200px;
    cursor: pointer;
}
.Item:hover{
    background-color: rgb(227, 240, 253);
}