.Main{
    width:40%;
    margin: 5px;
}.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.TextArea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 14px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.TextArea:focus{
    background-color: rgb(243, 236, 236);
    border: 2px solid rgb(104, 101, 101)
}
.Count{
    font-size: 12px;
    float: right;
    color: gray;
}